/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

%botton-shared {
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  transition: all .5s ease;
  color: black;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
}

.button {
  @extend %botton-shared;

  &:hover {
    color: $white;
  }

  &--danger {
    background: $danger;
  }

  &--success {
    background: $success;
  }

  &--secondary {
    background: $secondary;
  }

  &--primary {
    background: $primary;
  }
}
