.main-container {

  &--header {
    background: $dark;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__h1 {
      font-weight: 300;
      color: $white;
    }

    &__p {
      color: $white;
    }
  }

  &--nav {
    
  }
}
