/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$background: rgba(133, 7, 7, 0.5);
$danger: #DC3545;
$success: #28A745;
$secondary: #6C757D;
$primary: #007BFF;
$dark: rgba(0,0,0,1);
$white: rgba(255,255,255,.8);