/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$background: rgba(255,200,200,.5);
$danger: #DC3545;
$success: #28A745;
$secondary: #6C757D;
$primary: #007BFF;